<ng-container *ngIf="{
        books: books$ | async,
        isLoading: isLoading$ | async
    } as data">


  <div class="header">
    <mat-form-field class="example-full-width">
      <mat-label>Enter a new Book</mat-label>
      <input matInput #inputElement>
    </mat-form-field>


    <button mat-raised-button color="primary"
      (click)="onCreateBook(inputElement.value); inputElement.value = '';">
      Create book
    </button>
  </div>
  
  <table mat-table [dataSource]="data.books || []" class="mat-elevation-z8 custom-table">

   
    <!-- ID Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn"
          (click)="onDeleteBook(element)">Delete</button> </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-container>