
  <ul class="navbar-links">
    <li><a routerLink="/lifecycle" routerLinkActive="active">lifeCycle Hook</a></li>
    <li><a routerLink="/cd" routerLinkActive="active">Change Detector</a></li>
    <li><a routerLink="/pipes" routerLinkActive="active">Pipes</a></li>
    <li><a routerLink="/ngrx" routerLinkActive="active">NGRX</a></li>
  </ul>
  


<main class="main">
  <div class="content">
    <h1 style="text-align: center; margin-top: 20px;">Welcome to The Demo</h1>
  </div>
</main>

<div class="main-container">
  <router-outlet></router-outlet>
</div>
